.App {
  text-align: center;
}

.App-body {
  background-color: #222;
  height: 600px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.RoundOne {
  float: left;
  width: inherit;
}

.RoundTwo {
  float: none;
  position: relative;
  top: 90px;
}

.RoundThree {
  float: right;
  position: relative;
  top: -170px;
}
